<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="Styleone.css">

<title>Simply Ronthamo brewing</title>

<body>
<header id="mainHeader">
    <img id="logo" src="images/logo4.png" alt="Ronthamo Logo"
     width="200px">
    <nav>
        <ul>
            <li><%= link_to 'Home', root_path%></li>          
        </ul>
    </nav>
</header>

<article id="productsDescription">
        <img src="images/beer_2.png" alt="beer in bottles" style="height:400px; Width:100%" id="products">
        <h1>Ginger Pale Ale</h1>
        <p>This is a medium body Pale Ale spiced with Ginger. It has a hay  pour with a
            thin white head and some light lacing. It has prominent ginger notes in the
            glass and Finish. Citrus, Wheat, hay and light malt are the additional notes
            present in the beer. </p>

        <h1>Belgian Pale Ale</h1>
        <p>This is a Belgium pale ale style of beer with high carbonation, prominent head,
            light body and slightly sticky. It has aromatic notes of coriander, peaches and
            dill. The flavour profile has hints of Belgian Phenol, peaches and coriander. </p>

        <h1>Mango Lambic</h1>
        <p>This is a Lambic style of beer flavoured with Mango during secondary fermentation.
            It is a soft beer with Mango, Citrus, berry notes. It is a light crisp beer with
            low alcohol content. The hops used for this beer impart a slight pleasing bitterness
            quality to the beer. The control of the secondary fermentation allows the beer to carry
            a sour character that is unique to the lambics. </p>

        <h1>Amarillo Single Hop Ale</h1>
        <p>This is an English style Ale. The Amarillo hops give it a Citrus and subtly bitter flavour.
            It has high carbonation and a prominent head. The malts impart sharp, crisp, biscuit character
            to the beer. It is easy drinking and pleasing to the pallet. </p>



</article>

<!--
    <footer>
        <p>
        309 OAK VILLA,
        476 LEYDS STREET,
        PRETORIA, GAUTENG,
        0002
        </p>
</footer>
-->


</body>
