<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="Styleone.css">

<title>Simply Ronthamo brewing</title>

<body>
<header id="mainHeader">
    <img id="logo" src="images/logo4.png" alt="Ronthamo Logo"
     width="200px">
    <nav>
        <ul>
            <li><%= link_to 'About',about_path %></li>            
        </ul>
    </nav>
</header>

<article id="mainarticle">
    <h1>Simply Rothamo at a glance</h1>
    <p>
    We are wholly blacked owned and managed company seeking to be a significant participant in the craft beer
    market. Our aim is to quiche the thirst of the craft beer drinker with a beer that is distinctive, bold,
    flavourful and sophisticated. The products seek to match the adventurous and discerning nature of a
    modern South African Beer drinker with the local identity of his character.
    <br /> <br />
    We are an open minded enterprise leveraging inovation to deliver a great beer for bar patrons and
    a great product for the bar owner.
    </p>
</article>

<footer>
        <p>
        309 OAK VILLA,
        476 LEYDS STREET,
        PRETORIA, GAUTENG,
        0002
        </p>
</footer>


</body>
